[flake8]
max-line-length = 99
ignore = W504, W503, E266
exclude =
    .git,
    __pycache__,
    __init__.py,
    scratch_*.py,
    tutorial_script.py,
    venv,
    test_imports.py,
    build,
    dist,
    brainbox/examples/
