language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -e .
  # phylib will be a proper pip dependency once it's more stable
  - pip install git+https://github.com/cortex-lab/phylib

before_script:
  - echo "exec('from oneibl.one import ONE; ONE(silent=True)')" | python
  - sed -i 's|null|"'$IBLFLATIRONPASS'"|g' /home/travis/.one_params
  # command to run tests
script:
  - bash ./run_tests
  - flake8 .
# only build master and develop (PRs are built for all branches)
branches:
  only:
  - master
  - develop
