include ibllib/atlas/allen_structure_tree.csv
include ibllib/io/extractors/extractor_types.json
include brainbox/tests/wheel_test.p
recursive-include brainbox/tests/fixtures *
recursive-include ibllib/qc/reference *
graft ibllib/tests/extractors/data
graft ibllib/io/extractors/ephys_sessions
graft ibllib/tests/fixtures
recursive-include oneibl/tests/fixtures *
