# ibl libraries
ONE-api>=3.0.0
boto3
click>=7.0.0
colorlog>=4.0.2
flake8>=3.7.8
globus-sdk
graphviz
ibl-neuropixel>=1.7.1
ibl-style
iblatlas>=0.5.3
iblqt>=0.4.2
iblutil>=1.13.0
imagecodecs  # used to convert tif snapshots to png when registering mesoscope snapshots (also requires skimage)
matplotlib>=3.0.3
mtscomp>=1.0.1
nptdms
numba>=0.56
numpy>=1.18
opencv-python-headless
pandas
phylib>=2.6.0
psychofit
pyarrow
pynrrd>=0.4.0
pyqt5
pytest
requests>=2.22.0
scikit-image  # this is a widefield requirement missing as of July 2023, we may remove it once wfield has this figured out
scikit-learn>=0.22.1
scipy>=1.7.0
seaborn>=0.9.0
slidingRP>=1.1.1  # steinmetz lab refractory period metrics
sparse
tqdm>=4.32.1
