boto3
click>=7.0.0
colorlog>=4.0.2
flake8>=3.7.8
globus-sdk
graphviz
matplotlib>=3.0.3
numba>=0.56
numpy>=1.18
nptdms
opencv-python-headless
pandas
pyarrow
pynrrd>=0.4.0
pytest
requests>=2.22.0
scikit-learn>=0.22.1
scipy>=1.7.0
scikit-image  # this is a widefield requirement missing as of July 2023, we may remove it once wfield has this figured out
imagecodecs  # used to convert tif snapshots to png when registering mesoscope snapshots (also requires skimage)
sparse
seaborn>=0.9.0
tqdm>=4.32.1
# ibl libraries
iblatlas>=0.5.3
ibl-neuropixel>=1.6.2
iblutil>=1.13.0
iblqt>=0.4.2
mtscomp>=1.0.1
ONE-api>=3.0.0
phylib>=2.6.0
psychofit
slidingRP>=1.1.1  # steinmetz lab refractory period metrics
pyqt5
ibl-style
